<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Stad">
  <test thread-count="5" name="Test_RegistrationPage">
    <classes>
      <class name="STADAssignment_AutomationExercise.TC1_RegisterUser"/>
    </classes>
  </test> <!-- Test_RegistrationPage -->
</suite> <!-- Stad -->
